<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Image Gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav id="navbar navbar-default">
            <ul>
                <li><a href="{% url 'home' %} ">Home</a></li>
                <li><a href="{% url 'search' %} ">Search</a></li>
                <li><a href="{% url 'add' %}">Add Image</a></li>
            </ul>
        </nav>

        <img class="img-rounded" id="image" src= {{image.image_file.url}} alt="picture" />
        <br> <br>

        <div>
            <input type="button" value="Turn Left" id="left">
            <input type="button" value="Turn Right" id="right">
        </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                $(document).on('click','#left',function(){
                    $("#image").css({'transform': 'rotate(90deg)'});
                });
            });
            $(document).ready(function() {
                $(document).on('click','#right',function(){
                    $("#image").css({'transform': 'rotate(-90deg)'});
                });
            });
        </script>
    </body>
</html>